.App {
  text-align: center;
  background-color: rgb(245, 245, 245);
  height: 800px;
  width: 100%; /* Ajustado para que ocupe el 100% */
  max-width: 1600px; /* Limita el ancho máximo */
  margin: 0 auto;
  border: 1px solid black;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  display: flex;
  flex-direction: column; /* Para alinear en columna */
  align-items: center;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App-link {
  color: #61dafb;
}
